{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand navbar" href="{% url 'home' %}">
        <img src="{% static 'images/logo/discoverlogo.jpeg' %}" alt="discover logo" height="100" style = "border: 2px solid white; margin-left: 2rem;"/>
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto order-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}" style="color:white;">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'resource_list' %}" style="color:white;">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project_list' %}" style="color:white;">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experiment_list' %}" style="color:white;">Experiments</a>
                </li>
                {% if user.is_operator %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" style="color:white;">Operators</a>
                    </li>
                {% endif %}
                {% if user.is_site_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" style="color:white;">Administrators</a>
                    </li>
                {% endif %}
            </ul>
            <div class="navbar-nav nav-item ms-auto order-5">
                <a class="nav-link" href="{% url 'logout' %}" style="color:white;">
                    <em class="fa fa-fw fa-sign-out"></em> Logout</a>
            </div>
        {% else %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item {{ login_page }}">
                    <a class="nav-link" href="{% url 'login' %}" style="color:white;">
                        <em class="fa fa-fw fa-sign-in"></em> Login</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
