{% extends 'base.html' %}
{% load static users_tags %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-danger" style="font-size: large">{{ message }}</div>
    {% endif %}
    {% if user.is_authenticated and project %}
        <div class="container w-85">
            <div class="d-flex flex-row align-items-center justify-content-between">
                {% if project.is_public %}
                    <h2>{{ project.name }} <em class="text-success" style="font-size: medium">(Public)</em></h2>
                {% else %}
                    <h2>{{ project.name }} <em class="text-danger" style="font-size: medium">(Private)</em></h2>
                {% endif %}
                {% if project.is_deleted %}
                    <a class="text-danger" style="font-size: medium"><strong>(DELETED)</strong></a>
                {% endif %}
                {% if not project.is_deleted %}
                    <div>
                        <form action="{% url 'project_detail' project_id=project.project_id %}" method="POST">
                            {% csrf_token %}
                            {% if project.membership.is_project_creator or project.membership.is_project_owner %}
                                <button class="btn btn-success mr-2">
                                    <a href="{% url 'project_edit' project_id=project.project_id %}"
                                       class="unlink">Edit</a>
                                </button>
                            {% endif %}
                            {% if project.membership.is_project_creator %}
                                <input type="hidden" name="delete-project" value="true">
                                <button class="btn btn-danger mr-2" type="submit">
                                    <a onclick="return confirm('Are you sure you want to delete this project?')">Delete</a>
                                </button>
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
            </div>

            <table class="table table-striped table-bordered my-4">
                <tbody>
                <tr>
                    <td style="width: 25%">Name</td>
                    <td style="width: 75%"><strong>{{ project.name }}</strong></td>
                </tr>
                <tr>
                    <td style="width: 25%">Description</td>
                    <td style="width: 75%"><strong>{{ project.description }}</strong></td>
                </tr>
                {% if project.membership.is_project_creator or project.membership.is_project_owner or project.membership.is_project_member %}
                    <tr>
                        <td style="width: 25%">
                            Owners
                            {% if not project.is_deleted %}
                                {% if project.membership.is_project_creator or project.membership.is_project_owner %}
                                    <button class="btn btn-secondary mr-2" style="float: right">
                                        <a href="{% url 'project_owners' project_id=project.project_id %}"
                                           class="unlink">Update</a>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="width: 75%">
                            {% for p in project.project_owners %}
                                <strong>{{ p.user_id|id_to_username }}</strong>
                                <em class="small">(granted: {{ p.granted_date|str_to_datetime }}
                                    by: {{ p.granted_by|id_to_username }})</em>
                                <br>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%">
                            Members
                            {% if not project.is_deleted %}
                                {% if project.membership.is_project_creator or project.membership.is_project_owner %}
                                    <button class="btn btn-secondary mr-2" style="float: right">
                                        <a href="{% url 'project_members' project_id=project.project_id %}"
                                           class="unlink">Update</a>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="width: 75%">
                            {% for p in project.project_members %}
                                <strong>{{ p.user_id|id_to_username }}</strong>
                                <em class="small">(granted: {{ p.granted_date|str_to_datetime }}
                                    by: {{ p.granted_by|id_to_username }})</em>
                                <br>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%">
                            Experiments
                            {% if not project.is_deleted %}
                                {% if project.membership.is_project_creator or project.membership.is_project_owner or project.membership.is_project_member %}
                                    <button class="btn btn-secondary mr-2" style="float: right">
                                        <a href="{% url 'experiment_create' %}?project_id={{ project.project_id }}"
                                           class="unlink">Create</a>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="width: 75%">
                            {% for experiment in experiments %}
                                <strong><a href="{% url 'experiment_detail' experiment_id=experiment.experiment_id %}">
                                    {{ experiment.name }}
                                </a></strong>
                                {% if experiment.is_retired %}
                                    <strong class="text-danger small">(RETIRED)</strong>
                                {% endif %}
                                - {{ experiment.description }}<br>
                                - <em class="small">uuid: {{ experiment.experiment_uuid }}</em><br>
                                - <em class="small">created {{ experiment.created_date|str_to_datetime }}
                                by: {{ experiment.experiment_creator|id_to_username }}</em><br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <table style="width: 100%">
                <tbody>
                <tr style="font-size: small">
                    <td style="width: 50%">
                        <strong>created date</strong>: {{ project.created_date|str_to_datetime }}
                    </td>
                    {% if project.modified_date %}
                        <td style="width: 50%">
                            <strong>last modified date</strong>: {{ project.modified_date|str_to_datetime }}
                        </td>
                    {% endif %}
                </tr>
                <tr style="font-size: small">
                    <td style="width: 50%">
                        <strong>created by</strong>: {{ project.project_creator|id_to_username }}
                    </td>
                    {% if project.last_modified_by %}
                        <td style="width: 50%">
                            <strong>last modified by</strong>: {{ project.last_modified_by|id_to_username }}
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
        {% if debug %}
            <hr>
            <pre>{{ project|pprint }}</pre>
            <pre>{{ experiments|pprint }}</pre>
        {% endif %}
    {% else %}
        <p>You are not allowed to view this project or are not logged in</p>
        <a href="{% url 'login' %}">
            <button class="message-btn btn btn-success">Login</button>
        </a>
    {% endif %}
{% endblock %}