{% extends 'base.html' %}
{% load static %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-danger" style="font-size: large">{{ message }}</div>
    {% endif %}
    {% if user.is_authenticated %}
        {% if user.is_pi %}
            <div class="container w-85">
                <h2>Create Project</h2>
                <form id="create-project" method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
                <button class="btn btn-success mr-2" type="submit" form="create-project" value="save">Save</button>
                <button class="btn btn-secondary mr-2" value="cancel">
                    <a href="{% url 'project_list' %}" class="unlink">Back</a>
                </button>
            </div>
        {% else %}
            You are not able to create a project
        {% endif %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">
            <button class="message-btn btn btn-success">Login</button>
        </a>
    {% endif %}
{% endblock %}