{% extends 'base.html' %}
{% load static %}

{% block title %}
    Resources
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-danger" style="font-size: large">{{ message }}</div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="container w-85">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <h2>Resources</h2>
                <form type="get" action="." style="margin: 0">
                    {% csrf_token %}
                    {% if search %}
                        <input id="search" type="text" name="search" value="{{ search }}">
                    {% else %}
                        <input id="search" type="text" name="search" placeholder="search...">
                    {% endif %}
                    <button class="btn btn-primary mr-2" id="search_submit" type="submit">Search</button>
                </form>
                {% if user.is_operator %}
                    <button class="btn btn-success mr-2">
                        <a href="{% url 'resource_create' %}" class="unlink">Create New Resource</a>
                    </button>
                {% endif %}
            </div>
            <table class="table table-striped table-bordered my-4">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Class</th>
                    <th>Mode</th>
                    <th>Type</th>
                    <th>Active</th>

                    {% for resource in resources.results %}
                        <tr>
                            <td>
                                <a href="{% url 'resource_detail' resource_id=resource.resource_id %}">
                                    {{ resource.name }}
                                </a>
                            </td>
                            <td>{{ resource.description|truncatechars:40 }}</td>
                            <td>{{ resource.location }}</td>
                            <td>{{ resource.resource_class }}</td>
                            <td>{{ resource.resource_mode }}</td>
                            <td>{{ resource.resource_type }}</td>
                            <td>{{ resource.is_active }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row align-items-center justify-content-between">
                {% if prev_page %}
                    <button type="button" class="btn btn-secondary mr-2">
                        {% if search %}
                            <a href="{% url 'resource_list' %}?page={{ prev_page }}&search={{ search }}" class="unlink">
                                <em class="fa fa-fw fa-angles-left"></em> Page {{ prev_page }}
                            </a>
                        {% else %}
                            <a href="{% url 'resource_list' %}?page={{ prev_page }}" class="unlink">
                                <em class="fa fa-fw fa-angles-left"></em> Page {{ prev_page }}
                            </a>
                        {% endif %}
                    </button>
                {% else %}
                    <button class="btn btn-secondary mr-2 disabled">
                        <a href="{% url 'resource_list' %}?page={{ prev_page }}" class="unlink">
                            <em class="fa fa-fw fa-angles-left"></em> n/a
                        </a>
                    </button>
                {% endif %}
                Results: {{ item_range }} of {{ count }}
                {% if next_page %}
                    <form type="get" action="." style="margin: 0">
                        <button type="button" class="btn btn-secondary mr-2">
                            {% if search %}
                                <a href="{% url 'resource_list' %}?page={{ next_page }}&search={{ search }}"
                                   class="unlink">
                                    Page {{ next_page }} <em class="fa fa-fw fa-angles-right"></em>
                                </a>
                            {% else %}
                                <a href="{% url 'resource_list' %}?page={{ next_page }}" class="unlink">
                                    Page {{ next_page }} <em class="fa fa-fw fa-angles-right"></em>
                                </a>
                            {% endif %}
                        </button>
                    </form>
                {% else %}
                    <button class="btn btn-secondary mr-2 disabled">
                        <a href="{% url 'resource_list' %}?page={{ next_page }}" class="unlink">
                            n/a <em class="fa fa-fw fa-angles-right"></em>
                        </a>
                    </button>
                {% endif %}
            </div>
        </div>
        {% if debug %}
            <hr>
            <pre>{{ resources|pprint }}</pre>
        {% endif %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">
            <button class="message-btn btn btn-success">Login</button>
        </a>
    {% endif %}
{% endblock %}